  <h2 class="ml-3 mb-3"><%= @cocktail.name %></h2>
<div class="card-product">
  <%= image_tag "soumyajit-dash-P_uV3I5QRJk-unsplash.jpg", alt: "#", width: 200 %>
  <ul>
    <% @cocktail.doses.each do |dose| %>
        <div >
          <li>
              <em><%= dose.ingredient.name %> -
              <%= dose.description %></em>
              <% if @cocktail.doses %>
                <%= link_to dose_path(dose), method: :delete, data: {confirm: "Are you sure?"} do %>
                <i class="far fa-trash-alt ml-3" style="color: #4DB6AC"></i>
                <% end %>
              <% end %>  
          </li>
        </div>
    <% end %>
  </ul>
</div>


<%= link_to new_cocktail_dose_path(@cocktail.id) do %>
  <i class="fas fa-cocktail ml-5 mt-3" style="color: #4DB6AC"> Add ingredients/doses!</i>
<% end %>


<p class="back-to-list">
  <%= link_to cocktails_path do %>
    <i class="fa fa-reply fa-sm mt-5" aria-hidden="true"></i><span class="ml-1">Back to list</span>
  <% end %>
</p>

